@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif;
}
html{
    scroll-behavior: smooth;
}

nav{
    
    display: flex;
    justify-content: space-between;
}
.logo{

    padding: 20px;
}
.logo a{
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.logo a:hover{
    color: red;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    
}
.nav li{
    list-style: none;
    padding: 20px;
}
.nav li a{
    text-decoration: none;
    font-family: 'Gemunu Libre', sans-serif;
    color: black;
    font-size: 20px
}
.nav li a:hover{
    color: #dedad1;
}
.bio{
    margin: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.bio h1{
    font-size: 40px;
    margin: 100px;
}
.bio  h1 pre{
    font-size: 30px;
    text-align: center;
    font-weight:lighter ;

    margin: 0;
    padding: 0;
}
.bio img{
    border-radius: 50%;
    height: 300px;
}
.bio button{
  margin:30px;
  height: 40px;
  width: 90px;
  background-color: grey;
  border-radius: 5px;
}
.bio button:hover{
  background-color: #112;
  color: beige;
}
.bio button a{
  text-decoration: none;
  height: 40px;
  font-size: 20px;
  color: #fff;

}
#About{
    /* scroll-behavior: smooth; */
    font-size: 22px;
    margin: 40px 40px;
}
#About h3{
    margin-top: 30px;
    font-size: 30px;
}

#About h6{
    margin-top: 18px;
    font-size: 20px ;
    font-weight: lighter;
}
.skills{
    margin: 90px;
    display: flex;
    justify-content: space-between;
}

.tech h2{
    text-transform: uppercase;
    
}
.tech li{
    list-style: none;
    font-size: 30px;
}

.lang h2{
    text-transform: uppercase;
}
.lang li{

    list-style: none;
    font-size:30px ;
}
  /*---------------------------- Contact CSS----------------------------------- */
#Contact{
    margin: 50px;
}
#Contact h2{
  font-size: 40px;
  margin-bottom: 30px;
  color: #112;;
}
.heading h2{
    text-align: center;
    color:Blue;
    font-family: 'Gemunu Libre', sans-serif;
    margin-bottom: 50px;
  }
  .form-name{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    
  }
  .form-name input{
    height:40px;
    width:390px;
    font-family: 'Gemunu Libre', sans-serif;
    
      
  }
  .mail{
    margin-top:40px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    
  }
  .mail input{
    height:40px;
    width:390px;
    font-family: 'Gemunu Libre', sans-serif;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .buttons button{
    width:120px;
    height:40px;
    font-family: 'Gemunu Libre', sans-serif;
    cursor:pointer;
  }
  .buttons button:hover{
    background-color:#112;
    color:white;
  }

  

